@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    zoom: 110%;
  }

  body {
    @apply bg-white text-slate-900 antialiased;
  }
}